<app-breadcrumb [title]="'Users'" [items]="['Apps', 'User']" [active_item]="'Edit Profile'"></app-breadcrumb>
<div class="container-fluid">
    <div class="edit-profile">
        <div class="row">
            <div class="col-xl-8 xl-100">
                <form class="card" [formGroup]="userForm" (ngSubmit)="saveUpdate()">
                    <div class="card-header">
                        <h4 class="card-title mb-0">{{ 'common.cardTitle.updateUser' | translate }}</h4>
                        <div class="card-options"><a class="card-options-collapse" href="javascript:void(0)"
                                                     data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a
                                class="card-options-remove"
                                href="javascript:void(0)" data-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">{{ 'user.fields.firstName' | translate }}</label>
                                    <input class="form-control" type="text"
                                           placeholder="{{ 'user.fields.firstName' | translate }}"
                                           formControlName="firstName"
                                           onlyAlphabets>
                                    <div *ngIf="submitted && userForm.controls.firstName.errors?.required"
                                         class="text text-danger mt-1">
                                        {{ 'user.validations.firstNameRequired' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">{{ 'user.fields.lastName' | translate }}</label>
                                    <input class="form-control" type="text"
                                           placeholder="{{ 'user.fields.lastName' | translate }}"
                                           formControlName="lastName"
                                           onlyAlphabets>
                                    <div *ngIf="submitted && userForm.controls.lastName.errors?.required"
                                         class="text text-danger mt-1">
                                        {{ 'user.validations.lastNameRequired' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">{{ 'user.fields.email' | translate }}</label>
                                    <input class="form-control" type="email"
                                           placeholder="{{ 'user.fields.email' | translate }}" formControlName="email">
                                    <div *ngIf="submitted && userForm.controls.email.errors?.required"
                                         class="text text-danger mt-1">
                                        {{ 'user.validations.emailRequired' | translate }}
                                    </div>
                                    <div *ngIf="submitted && userForm.controls.email.errors?.email"
                                         class="text text-danger mt-1">
                                        {{ 'user.validations.emailBadFormat' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">{{ 'user.fields.password' | translate }}</label>
                                    <input class="form-control" type="password"
                                           placeholder="{{ 'user.fields.password' | translate }}"
                                           formControlName="password">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Role</label>
                                    <select class="form-control btn-square" formControlName="role">
                                        <option disabled value="null">Select Role</option>

                                        <option *ngFor="let item of role" [value]="item?.id">
                                            {{ item?.name }}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && userForm.controls.role.errors?.required"
                                     class="text text-danger mt-1">
                                    {{ 'user.validations.roleRequired' | translate }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Post</label>
                                    <select class="form-control btn-square" formControlName="post">
                                        <option disabled value="null">Select Poste</option>
                                        <option value="ROLE_DIRECTEUR">{{ 'user.roles.directeur' | translate }}</option>
                                        <option value="ROLE_TEAM_MANAGER">{{ 'user.roles.teamManager' | translate }}</option>
                                        <option value="ROLE_PROJECT_MANAGER">{{ 'user.roles.projectManager' | translate }}</option>
                                        <option value="ROLE_TEAM_LEADER">{{ 'user.roles.teamLeader' | translate }}</option>
                                        <option value="ROLE_SOFTWARE_DEVELOPER">{{ 'user.roles.softwareDeveloper' | translate }}</option>
                                        <option value="ROLE_QUALITY_ANALYSTE">{{ 'user.roles.qualityAnalyste' | translate }}</option>
                                        <option value="ROLE_HELP_DESK">{{ 'user.roles.helpDesk' | translate }}</option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && userForm.controls.role.errors?.required"
                                     class="text text-danger mt-1">
                                    {{ 'user.validations.roleRequired' | translate }}
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <label>Product <span class="text-danger">*</span></label>
                                <ng-select placeholder="Select product" [items]="products" formControlName="projects"
                                           bindLabel="displayName" multiple="true"
                                           [compareWith]="compareFunction">
                                </ng-select>

                                <small class="form-text text-danger"
                                       *ngIf="submitted && userForm.controls.projects.errors?.required">
                                    Product is
                                    required</small>

                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Responsable</label>
                                    <select class="form-control btn-square" formControlName="responsable">
                                        <option disabled value="null">Select Responsable</option>

                                        <option *ngFor="let item of users" [value]="item?.id">
                                            {{ item?.firstName }}  {{ item?.lastName }}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && userForm.controls.responsable.errors?.required"
                                     class="text text-danger mt-1">
                                    {{ 'user.validations.roleRequired' | translate }}
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label class="form-label">{{ 'user.fields.avatar' | translate }}</label>
                                    <input class="file-form-control" type="file" (change)="onFileChange($event)"
                                           accept="image/*">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="button" routerLink="/user/index">
                            <i class="fa fa-arrow-left"></i> {{ 'common.tables.back' | translate }}
                        </button>
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-save"></i> {{ 'user.buttons.update' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
