<div class="page-wrapper">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">     
        <div class="login-card">
          <div>
            <div>
              <a class="logo"  routerLink='/'>
                <img class="img-fluid for-light" src="assets/images/logo/login.png" alt="looginpage">
                <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage">
              </a>
            </div>
            <div class="login-main"> 
              <form class="theme-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <h4>{{ 'auth.resetPassword.title' | translate }}</h4>
                <div class="form-group">
                  <label class="col-form-label">{{ 'auth.resetPassword.password' | translate }}</label>
                  <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" placeholder="*********" formControlName="password">
                  <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                  <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                  <div *ngIf="resetPasswordForm.controls.password.touched && resetPasswordForm.controls.password.errors?.required"
                      class="text text-danger mt-1">
                      {{ 'auth.resetPassword.passwordRequired' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">{{ 'auth.resetPassword.passwordConfirmation' | translate }}</label>
                  <input class="form-control" [type]="showConfirmation ? 'text' : 'password'" name="login[password]" placeholder="*********" formControlName="passwordConfirmation">
                  <div class="show-hide" (click)="showPasswordConfirmation()" *ngIf="!showConfirmation"><span class="show"></span></div>
                  <div class="show-hide" (click)="showPasswordConfirmation()" *ngIf="showConfirmation"><span class="Hide"></span></div>
                  <div *ngIf="resetPasswordForm.controls.passwordConfirmation.touched && resetPasswordForm.controls.passwordConfirmation.errors?.required"
                      class="text text-danger mt-1">
                      {{ 'auth.resetPassword.passwordConfirmationRequired' | translate }}
                  </div>
                  <div *ngIf="resetPasswordForm.controls.passwordConfirmation.touched && resetPasswordForm.controls.passwordConfirmation.errors?.compare"
                      class="text text-danger mt-1">
                      {{ 'auth.resetPassword.passwordMatch' | translate }}
                  </div>
                </div>
                <div class="form-group mb-0">
                  <button class="btn btn-primary btn-block"
                  [class.loader--text]="showLoader"
                  [disabled]="resetPasswordForm.invalid || showLoader"
                  type="submit">{{ showLoader ? '' : 'auth.resetPassword.done' | translate }}</button>
                </div>
                <p class="mt-4 mb-0">
                    {{ 'auth.forgotPassword.alreadyHaveAccount' | translate }}
                  <a class="ml-2" [routerLink]="'/auth/login'">
                    {{ 'auth.forgotPassword.signIn' | translate }}
                  </a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>