<div class="page-wrapper">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">     
          <div class="login-card">
            <div>
              <div>
                <a class="logo" routerLink='/'>
                  <img class="img-fluid for-light" src="assets/images/logo/login.png" alt="looginpage">
                  <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="looginpage">
                </a>
              </div>
              <div class="login-main"> 
                <form class="theme-form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                  <h4>{{ 'auth.forgotPassword.title' | translate }}</h4>
                  <div class="form-group">
                    <label class="col-form-label">{{ 'auth.forgotPassword.email' | translate }}</label>
                    <div class="row">
                      <div class="col-12">
                        <input class="form-control mb-1" type="email" placeholder="{{ 'auth.forgotPassword.emailPlaceholder' | translate }}" formControlName="email">
                        <div *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.required"
                            class="text text-danger mt-1">
                            {{ 'auth.forgotPassword.emailRequired' | translate }}
                        </div>
                        <div *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.email"
                            class="text text-danger mt-1">
                            {{ 'auth.forgotPassword.emailBadFormat' | translate }}
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary btn-block m-t-10"
                        [class.loader--text]="showLoader"
                        [disabled]="forgotPasswordForm.invalid || showLoader"
                        type="submit">{{ showLoader ? '' : 'auth.forgotPassword.forgotBtn' | translate }}</button>
                      </div>
                    </div>
                  </div>
                  <p class="mt-4 mb-0">
                    {{ 'auth.forgotPassword.alreadyHaveAccount' | translate }}
                    <a class="ml-2" [routerLink]="'/auth/login'">
                      {{ 'auth.forgotPassword.signIn' | translate }}
                    </a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>